PORT=3000
APP_NAME="Group Ai Assessment"
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_RESPONSES_TABLE_ID=
AIRTABLE_GROUPS_TABLE_ID=
AIRTABLE_SUBGROUPS_TABLE_ID=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME="AI Group Assessment"
BREVO_NOTIFICATION_TO_EMAIL=
BREVO_NOTIFICATION_TO_NAME=
